/* Base style */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row; /* Default horizontal layout for desktop */
}

/* Responsive design for smartphones */
@media (max-width: 768px) {
    .works_on_smartphone main {
        flex-direction: column; /* Stack vertically on mobile */
    }
}